<ng-container>
    <div class="join-container">
        <form (submit)="joinRoom(joinForm)" #joinForm="ngForm" class="join-form">
            @if(!hasRoom) {
                <div>
                    <label for="roomName">Nome da Sala:</label>
                    <input type="text" placeholder="Digite o nome da Sala" ngModel name="roomName" class="input-text" required>
                </div>
                
                <div>
                    <label>Tipo de Estimativa:</label>
                    <div>
                        <div class="radio-input">
                            <input type="radio" id="fibonacci" name="estimateValue" [(ngModel)]="estimateValue" value="FIBONACCI">
                            <label for="fibonacci">Fibonacci</label>
                        </div>
                        <div class="radio-input">
                            <input type="radio" id="days" name="estimateValue" [(ngModel)]="estimateValue" value="DAYS">
                            <label for="days">Dias</label>
                        </div>
                    </div>
                </div>
            }
            <div>
                <label for="username">Seu Nome:</label>
                <input type="text" placeholder="Digite seu nome" ngModel name="username" class="input-text" required>
            </div>
            <button type="submit" class="btn-primary">Entrar</button>
        </form>
    </div>
</ng-container>
