<ng-container>
    <form (submit)="joinRoom(joinForm)" #joinForm="ngForm">
        @if(!hasRoom) {
            <div>
                <label for="roomName">Nome da Sala:</label>
                <input type="text" placeholder="Digite o nome da Sala" ngModel name="roomName" required>
            </div>
        }
        <div>
            <label for="estimateValue">Tipo de Estimativa:</label>
            <input type="radio" id="fibonacci" name="estimateValue" ngModel value="FIBONACCI"> <label for="fibonacci">Fibonacci</label>
            <input type="radio" id="days" name="estimateValue" ngModel value="DAYS"> <label for="days">Dias</label>
        </div>
        <div>
            <label for="userName">Seu Nome:</label>
            <input type="text" placeholder="Digite seu nome" ngModel name="userName" required>
        </div>
        <button type="submit">Entrar</button>
    </form>
</ng-container>
